.App {
  width: 80%;
  margin: 0 auto;
}
.Emp-Table{
  padding-top: 50px;
  width: 100%;
}
.Emp-Table td, th {
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 10px;
}
.Emp-Table td {
  font-size: 14px;
}